# When adding new libraries, run the following command to see what dependencies were installed by the library
# - Installed hopsworks library with...
# pip install hopsworks
# - Get installed library version, and add it to requirements.txt
# echo "# Geopandas" >> requirements.txt
# comm -23 <(pip freeze | sort) <(grep -v "^#" requirements.txt | sort) | grep geopandas== >> requirements.txt
# echo "# - Dependencies installed by geopandas" >> requirements.txt
# - Get installed library dependencies, and add them to requirements.txt
# comm -23 <(pip freeze | sort) <(grep -v "^#" requirements.txt | sort) >> requirements.txt
#
# Scrape.py
python-dotenv==1.0.0
websockets==12.0
# Modal
modal==0.55.4204
# - Dependencies installed by Modal
aiohttp==3.9.1
aiosignal==1.3.1
aiostream==0.5.2
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.11.17
click==8.1.7
cloudpickle==2.0.0
exceptiongroup==1.2.0
fastapi==0.104.1
frozenlist==1.4.0
grpclib==0.4.3
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.4
protobuf==4.25.1
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
rich==13.7.0
sigtools==4.0.1
sniffio==1.3.0
starlette==0.27.0
synchronicity==0.5.3
tblib==3.0.0
toml==0.10.2
typer==0.9.0
types-certifi==2021.10.8.3
types-toml==0.10.8.7
typing_extensions==4.8.0
watchfiles==0.21.0
yarl==1.9.3
zipp==3.17.0
# Hopsworks
hopsworks==3.4.3
# - Dependencies installed by Hopsworks
altair==4.2.2
asttokens==2.4.1
avro==1.11.0
boto3==1.33.7
botocore==1.33.7
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
confluent-kafka==2.1.1
cryptography==41.0.7
dataclasses==0.6
decorator==5.1.1
entrypoints==0.4
executing==2.0.1
fastavro==1.8.2
fastjsonschema==2.19.0
fsspec==2023.12.1
furl==2.1.3
future==0.18.3
great-expectations==0.14.13
greenlet==3.0.1
hsfs==3.4.5
hsml==3.4.5
ipython==8.18.1
javaobj-py3==0.4.3
jedi==0.19.1
Jinja2==3.0.3
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_core==5.5.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.6
mistune==3.0.2
mock==5.1.0
nbformat==5.9.2
numpy==1.26.2
orderedmultidict==1.0.1
packaging==23.2
pandas==2.0.3
parso==0.8.3
pexpect==4.9.0
platformdirs==4.1.0
prompt-toolkit==3.0.41
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.19.0
PyHopsHive==0.6.4.1.dev0
pyhumps==1.6.1
pyjks==20.0.0
PyMySQL==1.1.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3.post1
referencing==0.31.1
requests==2.31.0
rpds-py==0.13.2
ruamel.yaml==0.17.17
s3transfer==0.8.2
scipy==1.11.4
six==1.16.0
SQLAlchemy==2.0.23
stack-data==0.6.3
termcolor==2.4.0
thrift==0.16.0
toolz==0.12.0
tqdm==4.66.1
traitlets==5.14.0
twofish==0.3.0
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.18
wcwidth==0.2.12
# Jupyter
jupyter==1.0.0
# - Dependencies installed by Jupyter
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
async-lru==2.0.4
Babel==2.14.0
beautifulsoup4==4.12.2
bleach==6.1.0
comm==0.2.1
debugpy==1.8.0
defusedxml==0.7.1
fqdn==1.5.1
ipykernel==6.28.0
ipywidgets==8.1.1
isoduration==20.11.0
json5==0.9.14
jupyter_client==8.6.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyterlab==4.0.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab-widgets==3.0.9
jupyter-lsp==2.2.1
jupyter_server==2.12.1
jupyter_server_terminals==0.5.1
nbclient==0.9.0
nbconvert==7.14.0
nest-asyncio==1.5.8
notebook==7.0.6
notebook_shim==0.2.3
overrides==7.4.0
pandocfilters==1.5.0
prometheus-client==0.19.0
psutil==5.9.7
python-json-logger==2.0.7
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
Send2Trash==1.8.2
soupsieve==2.5
terminado==0.18.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.4
types-python-dateutil==2.8.19.14
uri-template==1.3.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.9
# Matplotlib
matplotlib==3.8.2
# - Dependencies installed by Matplotlib
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
kiwisolver==1.4.5
pillow==10.2.0
# Seaborn
seaborn==0.13.1
# - Dependencies installed by Seaborn
# None
# Geopandas
geopandas==0.14.1
# - Dependencies installed by geopandas
click-plugins==1.1.1
cligj==0.7.2
fiona==1.9.5
pyproj==3.6.1
shapely==2.0.2
# Huggingface
huggingface-hub